        </div>
		<!-- Scripts -->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/jquery.scrollex.min.js"></script>
		<script src="libraries/bootstrap-4.0.0-dist/js/bootstrap.bundle.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
        <script src="js/modal.js"></script>
	</body>
</html>