        </div>
		<!-- Scripts -->
		<script src="js/jquery.min.js"></script>
		<script src="js/d3.min.js"></script>
		<script src="js/modal.js"></script>
		<script src="js/socket.io.js"></script>
		<script src="libraries/bootstrap-4.0.0-dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>